<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ipc.dao.DocumentDao">
	<insert id="saveDocument" parameterType="Hashmap">
		insert into document(start_rid,file_name) values (#{start_rid},#{file_name})
	</insert>
	<select id="isPersonal" parameterType="Integer" resultType="Integer">
		select is_personal from documentforapply where rid=#{rid}
	</select>
	<select id="getVoByrid" parameterType="Integer" resultType="com.ipc.vo.ApplyDocVo">
		select dfid,rid,patentscode,resident_registration,certificate,business_license,is_personal,smallsale,finalApplyDoc from documentforapply where rid=#{rid}
	</select>
	<update id="updateDocumentForApply" parameterType="Hashmap">
		update documentforapply set finalApplyDoc=#{finalApplyDoc} where rid=#{rid}
	</update>
	<select id="countDocumentForApplyByRid" parameterType="Integer" resultType="Integer">
		select count(*) from documentforapply where rid=#{rid}
	</select>
	<select id="getUpLoadDocVoOtherByHashMap" parameterType="Hashmap" resultType="com.ipc.vo.UpLoadDocVoOther">
		select * from documentforapplyother where patent_kind=#{patent_kind} and seq=#{seq}
	</select>
	<select id="updateDocumentForApplyOther" parameterType="Hashmap">
		update documentforapplyOther set finalApplyDoc=#{finalApplyDoc} where patent_kind=#{patent_kind} AND seq=#{seq}
	</select>
	<select id="countFinalDoc" parameterType="Hashmap" resultType="Integer">
	 	select count(finalApplyDoc) from documentforapplyOther where seq=#{seq} AND patent_kind=#{patent_kind}
	</select>
</mapper>
