<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ipc.dao.RegistrationFileDao">
	<insert id="makeFile" parameterType="Hashmap">
		insert into registration_files(start_rid,file_path) values (#{start_rid},#{file_path})
	</insert>
	<select id="getImgListByStartRid" parameterType="Integer" resultType="com.ipc.vo.RegistrationFileVo">
		select rfid,start_rid,file_path form registration_files where start_rid=#{start_rid}
	</select>
</mapper>
