<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ipc.dao.RegistrationDao">
	<insert id="makeidea" parameterType="Hashmap">
		insert into registration_patent(typeofinvent,title,summary,whyinvent,problem,solution,effect,core_element,registration_date,uid,iscomplete) values (#{typeofinvent},#{title},#{summary},#{whyinvent},#{problem},#{solution},#{effect},#{core_element},#{registrtaion_date},#{uid},"0")
	</insert>
</mapper>
