<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ipc.dao.RegistrationDao">
	<insert id="makeidea" parameterType="com.ipc.vo.RegistrationPatentVo" useGeneratedKeys="true" keyProperty="rid">
		insert into registration_patent(typeofinvent,title,summary,whyinvent,problem,solution,effect,core_element,registration_date,uid,iscomplete) values (#{typeOfInvent},#{title},#{summary},#{whyInvent},#{problem},#{solution},#{effect},#{core_element},#{registration_date},#{uid},"1")
	</insert>
	
	<select id="getInventorProcessList" parameterType="Integer" resultType="com.ipc.vo.RegistrationPatentVo">
		select rid, iscomplete,registration_date, title, r_condition, start_rid, typeofinvent, apply_date, pre_apply_date from registration_patent where uid=#{uid} and prev_rid=-1 
	</select>
	<select id="getPlProcessList" parameterType="Integer" resultType="com.ipc.vo.RegistrationPatentVo">
		select rid, iscomplete,registration_date, title, r_condition, start_rid, typeofinvent, apply_date, pre_apply_date from registration_patent where lid=#{uid} and prev_rid=-1 
	</select>
	
	<update id="updatetempidea" parameterType="Hashmap">
		update registration_patent set typeOfInvent=#{typeOfInvent}, title=#{title}, whyInvent=#{whyInvent}, summary=#{summary}, problem=#{problem}, solution=#{solution}, effect=#{effect}, core_element=#{core_element} WHERE uid=#{uid} AND iscomplete=-1
	</update>
	
	<update id="inventorSave" parameterType="com.ipc.vo.RegistrationPatentVo">
	 
	 	update registration_patent set typeOfInvent=#{typeOfInvent}, title=#{title}, whyInvent=#{whyInvent}, summary=#{summary}, problem=#{problem}, solution=#{solution}, effect=#{effect}, core_element=#{core_element}, iscomplete=#{iscomplete} WHERE rid=#{rid}
	
	<!-- 
	 	update registration_patent set iscomplete=#{iscomplete} WHERE rid=#{rid}
	-->
	</update>

	<select id="checkIsCompletedByRid" parameterType="Integer" resultType="Integer">
		select iscomplete from registration_patent where rid=#{rid}
	</select>

	<update id="plUpdate" parameterType="com.ipc.vo.RegistrationPatentVo">
		update registration_patent set re_typeOfInvent=#{re_typeOfInvent}, re_title=#{re_title}, re_whyInvent=#{re_whyInvent}, re_summary=#{re_summary}, re_problem=#{re_problem}, re_solution=#{re_solution}, re_effect=#{re_effect}, re_core_element=#{re_core_element}, iscomplete=#{iscomplete} WHERE rid=#{rid}
	</update>
	
	<insert id="plSave" parameterType="com.ipc.vo.RegistrationPatentVo" useGeneratedKeys="true" keyProperty="rid">
		insert into registration_patent(re_typeofinvent,re_title,re_summary,re_whyinvent,re_problem,re_solution,re_effect,re_core_element,uid,lid,prev_rid,start_rid,iscomplete) values (#{re_typeOfInvent},#{re_title},#{re_summary},#{re_whyInvent},#{re_problem},#{re_solution},#{re_effect},#{re_core_element},#{uid},#{lid},#{prev_rid},#{start_rid},#{iscomplete})
	</insert>

	<select id="getResourceForPlSaveByRid" parameterType="Integer" resultType="com.ipc.vo.RegistrationPatentVo">
		select uid,start_rid,lid from registration_patent where rid=#{rid}
	</select>
	
	<select id="getLastRidInProcessList" parameterType="Integer" resultType="Integer">
		select rid from registration_patent where start_rid=#{start_rid} order by rid desc limit 1  
	</select>
	
	<insert id="maketempidea" parameterType="Hashmap">
		insert into registration_patent(typeOfInvent,title,summary,whyInvent,problem,solution,effect,core_element,registration_date,uid,iscomplete) values (#{typeOfInvent},#{title},#{summary},#{whyInvent},#{problem},#{solution},#{effect},#{core_element},#{registrtaion_date},#{uid},"-1")
	</insert>
	<select id="countTempIdea" parameterType="Integer" resultType="Integer">
		select count(*) from registration_patent where uid=#{uid} AND iscomplete=-1
	</select>

	<select id="getAssociatedMembers" parameterType="Integer" resultType="com.ipc.vo.RegistrationPatentVo">
		select uid,lid from registration_patent where rid=#{start_rid} and start_rid=rid
	</select>
	<select id="getAssociatedMembersByRid" parameterType="Integer" resultType="com.ipc.vo.RegistrationPatentVo">
		select uid,lid from registration_patent where rid=#{rid}
	</select>
	<select id="getAssociatedProcessList" parameterType="Integer" resultType="com.ipc.vo.RegistrationPatentVo">
		select rid, registration_date from registration_patent where start_rid = #{start_rid}
	</select>
	
<!-- Comment Get Process -->
	<!-- (발명가<prevRid>, 변리사<Rid>) rid에 맞는 발명가 작성 내용 + 변리사 코멘트    -->
	<select id="getRegistrationByRidOrPrevRid" parameterType="Integer" resultType="com.ipc.vo.RegistrationPatentVo">
		select 
			typeofinvent, title, summary, whyinvent, problem, solution, effect, core_element, re_typeofinvent, re_title, re_summary, re_whyinvent, re_problem, re_solution, re_effect, re_core_element, prev_rid, iscomplete
		from 
			registration_patent 
		where 
			rid=#{rid}
	</select>
	
	<!-- (발명가) after칸에 들어갈 발명가 작성 내용  -->
	<select id="getInventorModifyByRid" parameterType="Integer" resultType="com.ipc.vo.RegistrationPatentVo">
		select 
			typeofinvent, title, summary, whyinvent, problem, solution, effect, core_element, prev_rid, iscomplete 
		from 
			registration_patent 
		where 
			rid=#{rid}
	</select>
	
	<!-- (변리사) before칸에 들어갈 변리사 작성 내용 -->
	<select id="getPrevPlCommentByPrevRid" parameterType="Integer" resultType="com.ipc.vo.RegistrationPatentVo">
		select 
			re_typeofinvent, re_title, re_summary, re_whyinvent, re_problem, re_solution, re_effect, re_core_element
		from 
			registration_patent 
		where 
			rid=#{prev_rid}
	</select>
<!-- Comment Get Process End-->

	
	
	<select id="gettempidea" parameterType="Integer" resultType="com.ipc.vo.RegistrationPatentVo">
		select rid, typeofinvent, title, summary, whyinvent, problem, solution, effect, core_element, re_typeofinvent, re_title, re_summary, re_whyinvent, re_problem, re_solution, re_effect, re_core_element from registration_patent where uid=#{uid} AND iscomplete=-1
	</select>
	<delete id="removeTempIdea" parameterType="Integer">
		delete from registration_patent where uid=#{uid} AND iscomplete=-1
	</delete>
	<update id="updateStartId" parameterType="Integer">
		update registration_patent set start_rid=#{rid} WHERE rid=#{rid}
	</update>
	
	<select id="adminGetIdeaList" resultType="com.ipc.vo.adminListVo">
		SELECT r.rid,u.id as iId,u.name as iName,l.name as pName,u.email,u.phone,r.typeofinvent,r.title,r.r_condition
		FROM (registration_patent as r join user as u on r.uid=u.uid AND r.prev_rid=-1) left join (SELECT name,uid
																						   FROM user
																						   WHERE user.role="ROLE_PATIENTENTLAWYER") as l on  r.lid=l.uid
	</select>
	<update id="tempApply" parameterType="Integer">
		update registration_patent set iscomplete=2,r_condition="가출원대기" where rid=(select start_rid from (select start_rid,rid from registration_patent) as temp where rid=#{rid})
	</update>
	<select id="getIscompleteByrid" parameterType="Integer" resultType="Integer">
		select iscomplete from registration_patent where rid=#{rid}
	</select>
</mapper>
