<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ipc.dao.UpLoadDocDao">
	<insert id="saveUpLoadDocument" parameterType="com.ipc.vo.UpLoadDocVo">
		insert into documentforapply(rid,patentscode,resident_registration,certificate,business_license,is_personal,smallsale) 
			values (#{rid},#{patentscode},#{resident_registration},#{certificate},#{business_license},#{is_personal},#{smallsale})
	</insert>
	
</mapper>
