<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ipc.dao.UserDao">
    <select id="getUserById" parameterType="String" resultType="com.ipc.vo.userVo">
        SELECT * FROM user where id = #{id}
    </select>
    <select id="getUserByUid" parameterType="String" resultType="com.ipc.vo.userVo">
        SELECT * FROM user where uid = #{uid}
    </select>
    <insert id="makeuser" parameterType="Hashmap">
    	insert into user(id,pw,phone,email,role,name,is_member,profileimg) values (#{id},#{pw},#{phone},#{email},#{role},#{name},#{is_member},#{profileimg})
    </insert>
    <insert id="makelawyer" parameterType="String">
    	insert into patientent_lawyer(uid,license_scan_img,license_number,major,account_number,bank_name,introduce) values (#{uid},#{license_scan_img},#{license_number},#{major},#{account_number},#{bank_name},#{introduce})
    </insert>
    <select id = "checkid" parameterType="String" resultType="Integer">
    	SELECT count(*) FROM user WHERE id=#{id} limit 1
    </select>
    <update id="permit" parameterType="String">
    	update user set is_member="TRUE" WHERE uid=#{uid} 
    </update>
    <select id="getLawyerList" resultType="com.ipc.vo.userVo">
    	SELECT uid,id,name,email FROM user where role="ROLE_PATIENTENTLAWYER"
    </select>
    <update id="assign" parameterType="Hashmap">
    	update registration_patent set lid=#{uid} where rid=#{rid}
    </update>
    <select id="counTotalUser" resultType="Integer">
		SELECT count(1) FROM user;
	</select>
	<select id="getAllUsers" resultType="com.ipc.vo.userVo">
		SELECT id,name,phone,addr1,addr2,addr3,email,role,is_member,profileimg FROM user;
	</select>
	<select id="getLicense_numberByUid" parameterType="Integer" resultType="String">
		SELECT license_number from patientent_lawyer where uid=#{uid}
	</select>
	<update id="editinput" parameterType="Hashmap">
		update user set pw=#{pw},email=#{email} where uid=#{uid}
	</update>
	<update id="updateProfileImg" parameterType="Hashmap">
		update user set profileimg=#{profileimg} where uid=#{uid}
	</update>
	<select id="getIdByNameAndEmail" parameterType="HashMap" resultType="String">
		select user.id from user where name=#{name} and email=#{email}
	</select>
	<select id="getUidByIdAndEmail" parameterType="Hashmap" resultType="String">
		select uid from user where id=#{ID} and email=#{email}
	</select>
	<update id="updateKey" parameterType="Hashmap">
		update user set pw=#{key} where uid=#{uid}
	</update>
	<select id="getLawyerProfile" parameterType="Integer" resultType="com.ipc.vo.LawyerProfileVo">
		select u.id as id,u.name as name,u.email as email,p.major as major,p.introduce as introduce from user u inner join patientent_lawyer p on u.uid=p.uid
	</select>
</mapper>

