<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ipc.dao.UserDao">
    <select id="getUserById" parameterType="String" resultType="com.ipc.vo.userVo">
        SELECT * FROM user where id = #{id}
    </select>
    <select id="getUserByUid" parameterType="String" resultType="com.ipc.vo.userVo">
        SELECT * FROM user where uid = #{uid}
    </select>
    <insert id="makeuser" parameterType="Hashmap">
    	insert into user(id,pw,phone,email,role,name,is_member,profileimg) values (#{id},#{pw},#{phone},#{email},#{role},#{name},#{is_member},#{profileimg})
    </insert>
    <insert id="makelawyer" parameterType="String">
    	insert into patientent_lawyer(uid,license_scan_img,license_number) values (#{uid},#{license_scan_img},#{license_number})
    </insert>
    <select id = "checkid" parameterType="String" resultType="Integer">
    	SELECT count(*) FROM user WHERE id=#{id} limit 1
    </select>
    <update id="permit" parameterType="String">
    	update user set is_member="TRUE" WHERE uid=#{uid} 
    </update>
</mapper>

