.txt_box>input {
	border: 1px solid #ccc !important;
}

.txt_box>button {
	background: #1c4098 !important;
}

.hiding_box_header {
	background: #ccc !important;
}

textarea {
	border: 1px solid #ccc !important;
}

#add_btn {
	width: 110px;
	height: 33px;
	position: absolute;
	right: 0;
	top: 0;
	background: #999;
	color: #f9f9f9;
	text-align: center;
	font-size: 0.8rem;
	font-weight: bold;
	padding-top: 8px;
	border-radius: 4px;
}

.txt_box>img {
	width: 240px;
	float: left;
	height: 240px;
	border: 2px solid #ccc;
}