<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin_index</title>
    <link href="common/css/style.css" rel="stylesheet">
    <link href="common/css/admin.css" rel="stylesheet">
</head>
<body>
    <div id="index_bg">
        <div id="admin_login_form">
            <div id="form_header">
                <h3>관리자 로그인</h3>
            </div>
            <div id="form_login">
                <form>
                    <input type="text"><br>
                    <input type="password"><br>
                    <button>Login</button><br>
                    <span>관리자에게 문의하기</span>
                </form>
            </div>
        </div>
    </div>
</body>
</html>